@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Merienda';
    src: url('../fonts/Merienda-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
:root {
    --primary-font: 'Pacifico', sans-serif;
    --secondary-font: 'Merienda', sans-serif;
    scroll-behavior: smooth;
}

.main-font{
    font-family: var(--primary-font);
}
.secondary-font{
    font-family: var(--secondary-font);
}
a{
    color: inherit;
}
.close-icon{
    cursor: pointer;
}
.form-control:focus {
    border-color: #83B4FF;
    box-shadow: 0 0 0 0.10rem #A0DEFF;
}
.urlContainer{
    transition: all 0.5s;
}
.urlContainer:hover{
    box-shadow: 2px 2px 4px 2px #21252975;
}
